{% extends 'base.html.twig' %}

{% block title %}New Ecart
{% endblock %}

{% block body %}
	{# <h1 class="text-center">Ecarts Calculator</h1> #}


	<div class="containerMain mx-2 mb-2 text-success mt-2">
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.douzaine1)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.douzaine1)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.douzaine1)>=7) ? 'bg-danger-light text-danger' : '' }}">Douzaine 1</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.douzaine1)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.douzaine1)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.douzaine1 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.douzaine2)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.douzaine2)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.douzaine2)>=7) ? 'bg-danger-light text-danger' : '' }}">Douzaine 2</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.douzaine2)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.douzaine2)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.douzaine2 }}</div>
		</div>
		<div class="d-flex flex-row border border-{{ ((ecarts.douzaine3)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.douzaine3)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.douzaine3)>=7) ? 'bg-danger-light text-danger' : '' }}">Douzaine 3</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.douzaine3)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.douzaine3)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.douzaine3 }}</div>
		</div>
	</div>

	<div class="containerMain mx-2 text-success">
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.colonne1)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.colonne1)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.colonne1)>=7) ? 'bg-danger-light text-danger' : '' }}">Colonne 1</div>
			<div class="bg-success fs-4 text-white text-center col-2 {{ ((ecarts.colonne1)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.colonne1)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.colonne1 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.colonne2)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.colonne2)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.colonne2)>=7) ? 'bg-danger-light text-danger' : '' }}">Colonne 2</div>
			<div class="bg-success fs-4 text-white text-center col-2 {{ ((ecarts.colonne2)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.colonne2)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.colonne2 }}</div>
		</div>
		<div class="d-flex flex-row border border-{{ ((ecarts.colonne3)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.colonne3)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.colonne3)>=7) ? 'bg-danger-light text-danger' : '' }}">Colonne 3</div>
			<div class="bg-success fs-4 text-white text-center col-2 {{ ((ecarts.colonne3)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.colonne3)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.colonne3 }}</div>
		</div>
	</div>

	{# /// Formulaire #}
	<div class="my-1 mx-2 d-flex flex-row justify-content-center ">
		<div class="fs-3 mt-2 mx-2 col-3 ">{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary my-1 py-1" style="display:none">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		</div>
		{% if ecarts.tirage >= 0 %}
			<div class="numero fs-3 my-2 pt-2 ms-3 text-white text-center col-2 border border-dark bg-{{ ecarts.color }} rounded ">{{ ecarts.tirage }}</div>
		{% endif %}
	</div>

	{# <div class="fs-7 text-center fst-italic">Entrez "-1" pour réinitialiser</div> #}
<div class="containerMain mx-2 mb-2 text-success mt-2">
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.sixain1)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain1)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain1)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain  1 - 6</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain1)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain1)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain1 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.sixain2)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain2)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain2)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain  7 -12</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain2)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain2)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain2 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.sixain3)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain3)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain3)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain 13-18</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain3)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain3)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain3 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.sixain4)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain4)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain4)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain 19-24</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain4)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain4)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain4 }}</div>
		</div>
		<div class="mb-1 d-flex flex-row border border-{{ ((ecarts.sixain5)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain5)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain5)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain 25-30</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain5)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain5)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain5 }}</div>
		</div>
		<div class="d-flex flex-row border border-{{ ((ecarts.sixain6)>=14) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.sixain6)==13) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.sixain6)>=14) ? 'bg-danger-light text-danger' : '' }}">Sixain 31-36</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.sixain6)==13) ? 'bg-warning' : '' }}
						{{ ((ecarts.sixain6)>=14) ? 'bg-danger' : '' }} ">{{ ecarts.sixain6 }}</div>
		</div>
	</div>
</div></div>

<div class="containerMain d-flex flex-row mx-2 mb-2 text-success mt-4">
		<div class="me-1 col d-flex flex-row border border-{{ ((ecarts.red)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight text-danger fs-4 ps-2 col-10 rounded-left {{ ((ecarts.red)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.red)>=7) ? 'bg-danger-light text-danger' : '' }}">Red</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.red)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.red)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.red }}</div>
		</div>
		<div class="col d-flex flex-row border border-{{ ((ecarts.black)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight text-dark fs-4 ps-2 col-10 rounded-left {{ ((ecarts.black)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.black)>=7) ? 'bg-danger-light text-danger' : '' }}">Black</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.black)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.black)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.black }}</div>
		</div>
</div>

<div class="containerMain d-flex flex-row mx-2 mb-2 text-success mt-1">
		<div class="me-1 col d-flex flex-row border border-{{ ((ecarts.even)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.even)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.even)>=7) ? 'bg-danger-light text-danger' : '' }}">Even</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.even)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.even)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.even }}</div>
		</div>
		<div class="col d-flex flex-row border border-{{ ((ecarts.odd)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.odd)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.odd)>=7) ? 'bg-danger-light text-danger' : '' }}">Odd</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.black)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.odd)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.odd }}</div>
		</div>
</div>

<div class="containerMain d-flex flex-row mx-2 mb-2 text-success mt-1">
		<div class="me-1 col d-flex flex-row border border-{{ ((ecarts.half1)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.half1)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.half1)>=7) ? 'bg-danger-light text-danger' : '' }}">1-18</div>
			<div class="bg-success fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.half1)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.half1)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.half1 }}</div>
		</div>
		<div class="col d-flex flex-row border border-{{ ((ecarts.half2)>=7) ? 'danger' : '' }} rounded">
			<div class="backgroundLight fs-4 ps-2 col-10 rounded-left {{ ((ecarts.half2)==6) ? 'bg-warning-light text-warning' : '' }}
						{{ ((ecarts.half2)>=7) ? 'bg-danger-light text-danger' : '' }}">19-36</div>
			<div class="bg-success  fs-4 text-white text-center rounded-right col-2 {{ ((ecarts.half2)==6) ? 'bg-warning' : '' }}
						{{ ((ecarts.half2)>=7) ? 'bg-danger' : '' }} ">{{ ecarts.half2 }}</div>
		</div>
</div>



{% endblock %}
